<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To my ...<%=count%></h1>
    <ul>
        <% for(let i=0; i<list.length; i++){%>
            <li><span></span><%=list[i].title%></li>
        <%}%>
    </ul>

    <ul>
        <% for(let n of list){%>
            <li><span></span><%=n.title%></li>
        <%}%>
    </ul>

    <ul>
        <% list.forEach(n=>{%>
            <li><span></span><%=n.title%></li>
        <%});%>
    </ul>
</body>
</html>